.header-nav ul li{   
	list-style-type:none;
	display: inline-block;
	font-size: 20px;
}

.header-nav ul li a{
	text-decoration: none;
}

.header-nav {
	font-family: 'Material', serif;
	width: 100%;
	margin: auto;

	img.logo {
		width: 50px;
    	/* height: 16%; 
    	margin-right: 20px;*/
    	margin-left: -30px;
    	padding: 5px;
    }

    .fa{
    	font-size: 30px;
    	color: $gris;
    }

    .busqueda {
    	margin-bottom: 14px;
    	border: none;
    }
    
    .buscar {
    	width: 700px;
    	background-color: $fondo;
    	height: 40px;
    	border: none;
    	font-size: 24px;
    	padding: 6px 6px 6px 50px;
    }

    .search{
    	background: url('../img/search.png') no-repeat $fondo 0px 5px;
    	background-size: 45px;
    }

    .fa-times  {
    	color: $gris;
    	margin-right: -5px;
    	margin-left: -5px;
    	height: 39px;
    	padding: 6px 20px 6px;
    	background-color: #E9E9EB;
    }

    .fa-angle-down{
    	color: $gris;
    	margin-right: 10px;
    	margin-left: -10px;
    	height: 39px;
    	padding: 6px 20px 6px;
    	background-color: #E9E9EB;
    }

    .pines {
    	margin-right: 10px;
    	color: black;
    	cursor: pointer;
    	height: 64px;
    	font-size: 20px;
    	font-weight: $negrita;
    	padding: 15px 32px 15px;
    	background-color: #E9E9EB;
    }

    #inicio {
    	color: $gris;
    	margin-right: 30px;
    	margin-bottom: 10px;
    	cursor: pointer;
    	margin-bottom: 26px;
    	font-weight: $negrita;
    }

    .paulee{
    	width: 40px;
    	height: 40px;
    	-moz-border-radius: 50px;
    	-webkit-border-radius: 50px;
    	border-radius: 50px;
    	cursor: pointer;
    	border: 1px solid black;
    	margin: -10px;
    }

    .pauli{
    	margin-left: 17px;
    	margin-right: 20px;
    }

    #usuario{
    	color: $gris;
        //margin-bottom: 10px;
        //margin-left: 10px;
        cursor: pointer;
        //margin-bottom: 25px;
    }

    .fa-bars{
    	margin-right: 30px;
    }
}





