/* base styles */
body{
	background-color: $white;
}


/* header elements */
/*.header_panel {
    background-color: #FAF7F7;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    height: 44px;
    left: 0;
    padding: 0 7px;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1;
}

.logo {
    display: block;
    height: 30px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    top: 10px;
    width: 100px;
}

a {
    color: #221919;
    text-decoration: none;
}

/*
.search {
    margin: 8px 0 0;
}


.search input[type=text] {
    background-color: #FAF7F7;
    border-color: #C2C0C0 #CCCACA #D1CFCF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px #FFFFFF, 0 1px rgba(34, 25, 25, 0.05) inset;
    color: #8C7E7E;
    float: left;
    font-size: 13px;
    height: 16px;
    padding: 5px;
    width: 180px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

*/

.contenedor{ //donde irán las fotos
    width: 90%;
    margin: 15px auto;
}

.pics{ //fotos
    @include imgs();
}

.modal{
    @include modal();
}

/*#modal-work{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 50%;
    margin: 10px 10px;
    margin-left: 100px;
    /*padding: 100px;
}*/

.ventana-modal{
    width:400px;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -300px;
    /* text-align: center; */
}	

.ventana-modal span{
    color: #fff;
    background-color: #000;
    padding: .2em .5em .3em .5em;
    font-family: Arial;
    font-weight: $negrita;
    border:2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -175px;
    cursor: pointer;
}
